/******************************************************************************
 * _layout.scss
 *
 * Styling of the "simple" layout demonstrating the Compass grid extension Susy
 * and building mobile first layouts.
 ***************************************************************************** */
/* line 18, ../sass/omega-demo.sass */
.l-page {
  margin: 0 auto;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(210, 105, 30, 0.5)), color-stop(8.33333%, rgba(210, 105, 30, 0.5)), color-stop(8.33333%, rgba(210, 105, 30, 0.25)), color-stop(91.66667%, rgba(210, 105, 30, 0.25)), color-stop(91.66667%, rgba(210, 105, 30, 0.5)), color-stop(100%, rgba(210, 105, 30, 0.5)));
  background-image: -webkit-linear-gradient(left, rgba(210, 105, 30, 0.5), rgba(210, 105, 30, 0.5) 8.33333%, rgba(210, 105, 30, 0.25) 8.33333%, rgba(210, 105, 30, 0.25) 91.66667%, rgba(210, 105, 30, 0.5) 91.66667%, rgba(210, 105, 30, 0.5) 100%);
  background-image: -moz-linear-gradient(left, rgba(210, 105, 30, 0.5), rgba(210, 105, 30, 0.5) 8.33333%, rgba(210, 105, 30, 0.25) 8.33333%, rgba(210, 105, 30, 0.25) 91.66667%, rgba(210, 105, 30, 0.5) 91.66667%, rgba(210, 105, 30, 0.5) 100%);
  background-image: -o-linear-gradient(left, rgba(210, 105, 30, 0.5), rgba(210, 105, 30, 0.5) 8.33333%, rgba(210, 105, 30, 0.25) 8.33333%, rgba(210, 105, 30, 0.25) 91.66667%, rgba(210, 105, 30, 0.5) 91.66667%, rgba(210, 105, 30, 0.5) 100%);
  background-image: linear-gradient(left, rgba(210, 105, 30, 0.5), rgba(210, 105, 30, 0.5) 8.33333%, rgba(210, 105, 30, 0.25) 8.33333%, rgba(210, 105, 30, 0.25) 91.66667%, rgba(210, 105, 30, 0.5) 91.66667%, rgba(210, 105, 30, 0.5) 100%);
}
@media (min-width: 980px) {
  /* line 18, ../sass/omega-demo.sass */
  .l-page {
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(210, 105, 30, 0.5)), color-stop(1.78571%, rgba(210, 105, 30, 0.5)), color-stop(1.78571%, rgba(210, 105, 30, 0.25)), color-stop(19.64286%, rgba(210, 105, 30, 0.25)), color-stop(19.64286%, rgba(210, 105, 30, 0.5)), color-stop(21.42857%, rgba(210, 105, 30, 0.5)), color-stop(21.42857%, rgba(210, 105, 30, 0.25)), color-stop(39.28571%, rgba(210, 105, 30, 0.25)), color-stop(39.28571%, rgba(210, 105, 30, 0.5)), color-stop(41.07143%, rgba(210, 105, 30, 0.5)), color-stop(41.07143%, rgba(210, 105, 30, 0.25)), color-stop(58.92857%, rgba(210, 105, 30, 0.25)), color-stop(58.92857%, rgba(210, 105, 30, 0.5)), color-stop(60.71429%, rgba(210, 105, 30, 0.5)), color-stop(60.71429%, rgba(210, 105, 30, 0.25)), color-stop(78.57143%, rgba(210, 105, 30, 0.25)), color-stop(78.57143%, rgba(210, 105, 30, 0.5)), color-stop(80.35714%, rgba(210, 105, 30, 0.5)), color-stop(80.35714%, rgba(210, 105, 30, 0.25)), color-stop(98.21429%, rgba(210, 105, 30, 0.25)), color-stop(98.21429%, rgba(210, 105, 30, 0.5)), color-stop(100%, rgba(210, 105, 30, 0.5)));
    background-image: -webkit-linear-gradient(left, rgba(210, 105, 30, 0.5), rgba(210, 105, 30, 0.5) 1.78571%, rgba(210, 105, 30, 0.25) 1.78571%, rgba(210, 105, 30, 0.25) 19.64286%, rgba(210, 105, 30, 0.5) 19.64286%, rgba(210, 105, 30, 0.5) 21.42857%, rgba(210, 105, 30, 0.25) 21.42857%, rgba(210, 105, 30, 0.25) 39.28571%, rgba(210, 105, 30, 0.5) 39.28571%, rgba(210, 105, 30, 0.5) 41.07143%, rgba(210, 105, 30, 0.25) 41.07143%, rgba(210, 105, 30, 0.25) 58.92857%, rgba(210, 105, 30, 0.5) 58.92857%, rgba(210, 105, 30, 0.5) 60.71429%, rgba(210, 105, 30, 0.25) 60.71429%, rgba(210, 105, 30, 0.25) 78.57143%, rgba(210, 105, 30, 0.5) 78.57143%, rgba(210, 105, 30, 0.5) 80.35714%, rgba(210, 105, 30, 0.25) 80.35714%, rgba(210, 105, 30, 0.25) 98.21429%, rgba(210, 105, 30, 0.5) 98.21429%, rgba(210, 105, 30, 0.5) 100%);
    background-image: -moz-linear-gradient(left, rgba(210, 105, 30, 0.5), rgba(210, 105, 30, 0.5) 1.78571%, rgba(210, 105, 30, 0.25) 1.78571%, rgba(210, 105, 30, 0.25) 19.64286%, rgba(210, 105, 30, 0.5) 19.64286%, rgba(210, 105, 30, 0.5) 21.42857%, rgba(210, 105, 30, 0.25) 21.42857%, rgba(210, 105, 30, 0.25) 39.28571%, rgba(210, 105, 30, 0.5) 39.28571%, rgba(210, 105, 30, 0.5) 41.07143%, rgba(210, 105, 30, 0.25) 41.07143%, rgba(210, 105, 30, 0.25) 58.92857%, rgba(210, 105, 30, 0.5) 58.92857%, rgba(210, 105, 30, 0.5) 60.71429%, rgba(210, 105, 30, 0.25) 60.71429%, rgba(210, 105, 30, 0.25) 78.57143%, rgba(210, 105, 30, 0.5) 78.57143%, rgba(210, 105, 30, 0.5) 80.35714%, rgba(210, 105, 30, 0.25) 80.35714%, rgba(210, 105, 30, 0.25) 98.21429%, rgba(210, 105, 30, 0.5) 98.21429%, rgba(210, 105, 30, 0.5) 100%);
    background-image: -o-linear-gradient(left, rgba(210, 105, 30, 0.5), rgba(210, 105, 30, 0.5) 1.78571%, rgba(210, 105, 30, 0.25) 1.78571%, rgba(210, 105, 30, 0.25) 19.64286%, rgba(210, 105, 30, 0.5) 19.64286%, rgba(210, 105, 30, 0.5) 21.42857%, rgba(210, 105, 30, 0.25) 21.42857%, rgba(210, 105, 30, 0.25) 39.28571%, rgba(210, 105, 30, 0.5) 39.28571%, rgba(210, 105, 30, 0.5) 41.07143%, rgba(210, 105, 30, 0.25) 41.07143%, rgba(210, 105, 30, 0.25) 58.92857%, rgba(210, 105, 30, 0.5) 58.92857%, rgba(210, 105, 30, 0.5) 60.71429%, rgba(210, 105, 30, 0.25) 60.71429%, rgba(210, 105, 30, 0.25) 78.57143%, rgba(210, 105, 30, 0.5) 78.57143%, rgba(210, 105, 30, 0.5) 80.35714%, rgba(210, 105, 30, 0.25) 80.35714%, rgba(210, 105, 30, 0.25) 98.21429%, rgba(210, 105, 30, 0.5) 98.21429%, rgba(210, 105, 30, 0.5) 100%);
    background-image: linear-gradient(left, rgba(210, 105, 30, 0.5), rgba(210, 105, 30, 0.5) 1.78571%, rgba(210, 105, 30, 0.25) 1.78571%, rgba(210, 105, 30, 0.25) 19.64286%, rgba(210, 105, 30, 0.5) 19.64286%, rgba(210, 105, 30, 0.5) 21.42857%, rgba(210, 105, 30, 0.25) 21.42857%, rgba(210, 105, 30, 0.25) 39.28571%, rgba(210, 105, 30, 0.5) 39.28571%, rgba(210, 105, 30, 0.5) 41.07143%, rgba(210, 105, 30, 0.25) 41.07143%, rgba(210, 105, 30, 0.25) 58.92857%, rgba(210, 105, 30, 0.5) 58.92857%, rgba(210, 105, 30, 0.5) 60.71429%, rgba(210, 105, 30, 0.25) 60.71429%, rgba(210, 105, 30, 0.25) 78.57143%, rgba(210, 105, 30, 0.5) 78.57143%, rgba(210, 105, 30, 0.5) 80.35714%, rgba(210, 105, 30, 0.25) 80.35714%, rgba(210, 105, 30, 0.25) 98.21429%, rgba(210, 105, 30, 0.5) 98.21429%, rgba(210, 105, 30, 0.5) 100%);
  }
}

/* line 23, ../sass/omega-demo.sass */
.l-header,
.l-main,
.l-footer {
  margin: 0 auto;
  min-height: 100px;
  clear: both;
  margin-bottom: 10px;
}

/* line 32, ../sass/omega-demo.sass */
.l-content {
  min-height: 200px;
  width: 8.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
}
@media (min-width: 980px) {
  /* line 32, ../sass/omega-demo.sass */
  .l-content {
    width: 60.71429%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }
}

/* line 39, ../sass/omega-demo.sass */
.l-region--sidebar-first {
  width: 8.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
}
@media (min-width: 980px) {
  /* line 39, ../sass/omega-demo.sass */
  .l-region--sidebar-first {
    width: 21.42857%;
    float: left;
    margin-right: -100%;
    margin-left: 58.92857%;
    clear: none;
  }
}
